@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1140px;
  height: 998px;
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #898f8f;
  background: url(../img/background.png) no-repeat;
  background-position: top 235px center;
}

// .header {
//   background: url(../img/devider.png) no-repeat;
//   background-position: bottom;
// }

.header_p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  padding: 84px 0 0 0;
}

.header_h2 {
  font-family: 'Roboto', sans-serif;
  color: #ffcc00;
  font-weight: 900;
  font-size: 60px;
  line-height: 66px;
  text-transform: uppercase;
  padding: 10px 0 70px 0;
}

.main {
  position: relative;
}

.main::before {
  content: '\f053';
  font-family: FontAwesome;
  color: #ffcc00;
  font-size: 40px;
  position: absolute;
  top: 312px;
  left: 12px;
  cursor: pointer;
}

.main::after {
  content: '\f054';
  font-family: FontAwesome;
  color: #ffcc00;
  font-size: 40px;
  position: absolute;
  top: 312px;
  left: 1104px;
  cursor: pointer;
}

.main_block_left,
.main_block_right {
  display: inline-block;
  width: 552px;
  height: 600px;
}

.main_block_left {
  float: left;
  margin: 116px 0 0 67px;
  width: 418px;
  height: 420px;
  background-image: linear-gradient(
      to right,
      #ffcc00 100px,
      transparent 100px,
      transparent 300px,
      #ffcc00 300px
    ),
    linear-gradient(
      to left,
      #ffcc00 100px,
      transparent 100px,
      transparent 300px,
      #ffcc00 300px
    ),
    linear-gradient(
      to bottom,
      #ffcc00 100px,
      transparent 100px,
      transparent 300px,
      #ffcc00 300px
    ),
    linear-gradient(
      to bottom,
      #ffcc00 100px,
      transparent 100px,
      transparent 300px,
      #ffcc00 300px
    );
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: no-repeat;
}

.main_block_left_img {
  margin: 14px 14px;
  width: 386px;
  height: 386px;
  border: 1px solid #ffcc00;
}

.main_block_right {
  width: 422px;
  float: right;
  margin: 136px 68px 0 0;
}

.main_block_right_h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #666666;
  padding: 0 0 38px;
}

hr {
  width: 100px;
  height: 1px;
  background-color: #ffcc00;
  border: none;
  margin: auto;
}

.main_block_right_p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding: 32px 0 0 0;
}

.main_block_right_social {
  display: inline-block;
  text-align: center;
  align-items: centers;
  padding: 26px 0 0 0;
}

.fab {
  width: 26px;
  height: 21px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  padding: 5px 0 0 0;
}

.fab:hover {
  color: #508cef;
  border-color: #508cef;
}

.main_block_right_bottom_p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin: 30px 0 0 0;
}

.main_block_right_button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #ffcc00;
  width: 120px;
  height: 27px;
  color: #666666;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 50px;
}
